/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
  background-color: #000;
  color: #fff
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff
}

a:visited {
  color: red;
  font-weight: bold;
}

a {
  color: #4169E1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #333;
}

table {
  background-color: #222;
  color:#fff;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #444;
  color: #fff;
}

dl {
  display: table-row;
}

dt, dd {
  display: table-cell;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

dt {
  font-weight: bold;
  color: #222;
}

dd {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 12px;
}

